form {
  background: var(--light-color);

  width: 100%;
  max-width: 500px;
  margin: 32px auto;
  padding: 32px 64px;
  display: flex;
  flex-direction: column;
}

form h2 {
  margin-bottom: 32px;
}

div.input {
  margin-bottom: 24px;
  position: relative;
}

.submit-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  width: 100%;
  margin-top: 30px;
  padding: 15px;

  border: none;
  border-radius: 8px;
  color: white;
  background-color: var(--clr-primary-4);
  font-size: 1em;
  letter-spacing: 0.1em;
}

input {
  /* Reset appearance */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;


  width: 100%;
  padding: 15px 0;
  border: none;
  border-bottom: 1px solid var(--clr-primary-4);
  background-color: transparent;
  outline: none;
  color: var(--clr-black);
  font-size: 1em;
}

input ~ label {
  position: absolute;
  top: 16px;
  left: 0;
  color: var(--clr-primary-4);
  transform: translateY(-20px);
  font-size: 0.8em;
  letter-spacing: 0.1em;
}

.select {
  display: flex;
  flex-direction: column;
}

.select > label {
  color: var(--clr-primary-4);
  font-size: 0.8em;
  letter-spacing: 0.1em;
}

.select select {
  padding: 10px 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--clr-primary-4);
}